
.root{
   primary: rgba(35, 140, 131, 1);
   secondary:#C8E2E0;
   thirdcolor:#ffffff;
   third:white;
   annuler-red: #c12727;
   FontFamily:'Noto Serif';
   FontFamilyBold:'Noto Serif';
  -fx-font-family: FontFamily;
}
.RootColor{

-fx-background-color:thirdcolor;
}
.f-noto{ -fx-font-family: FontFamily;}
.s-10{ -fx-font-size:10;}
.s-11{ -fx-font-size:11;}
.s-12{ -fx-font-size:12;}
.s-13{ -fx-font-size:13;}
.s-14{ -fx-font-size:14;}
.s-15{ -fx-font-size:15;}
.s-16{ -fx-font-size:16;}
.s-17{ -fx-font-size:17;}
.s-18{ -fx-font-size:18;}
.s-19{ -fx-font-size:19;}
.s-20{ -fx-font-size:20;}
.s-22{ -fx-font-size:22;}
.s-24{ -fx-font-size:24;}
.s-32{ -fx-font-size:32;}
.w-bold{ -fx-font-weight: Bold;}
.w-normal{ -fx-font-weight: normal;}


.label.text{
-fx-font-weight: regular;
}

#label1 text{
-fx-font-weight: regular;
}



.mfx-date-picker .text-field{
-fx-border-color:transparent;
-fx-font-family: FontFamily;
}

/*cards background pane*/
.CardsBackground{
-fx-background-color:primary;
-fx-background-radius: 0 0 10 10;
}
.TopBarBackground{
-fx-background-radius: 10 10 0 0 ;
-fx-background-color:primary;
}


/*cards */
.cards{
-fx-background-color:#ffffff;
-fx-background-radius:10;
}

.BottomLabelCards{
-fx-font-weight: bold;
-fx-font-size: 18;
-fx-font-family: FontFamily;
}
.TopLabelCards{
-fx-text-fill:#000000;
-fx-font-size: 14;
   -fx-font-weight: Bold;
   -fx-font-family: FontFamily;
}


/* secondary color background*/
.SecondBackground{
-fx-background-color:secondary;
-fx-background-radius:0 0 10 10 ;
}


/*searche bar tfd */

.search-bar{
    -fx-pref-height:40;
    -fx-font-size:16;
       -fx-font-family: FontFamily;
       -fx-effect :none ;
    -fx-background-color:#fdfdfd;
    -fx-background-radius:8;
    -fx-border-color:#A0AEC0;
    -fx-border-radius:8;
}
.text-field {
    -fx-font-size:16;
       -fx-font-family: FontFamily;
       -fx-effect :none ;
       }
.text-field{
    -fx-background-color:#fdfdfd;
    -fx-background-radius:8;
    -fx-border-color:#A0AEC0;
    -fx-border-radius:8;

}

.text-field:focused {
    -fx-background-color:#fdfdfd;
    -fx-border-color:#A0AEC0;
    -fx-border-radius:10;
}



/* top bar notification icon*/
#NotificationIcon{
-fx-background-image: url("Notification_Icon.png");
-fx-background-repeat: no-repeat ;
-fx-background-size: 100% 100% ;
-fx-background-position:center center;
-fx-border-color:transparent;
-fx-background-color:transparent;
}



/*top bar avatar icon*/
#avatar{
-fx-background-image: url("avatar.jpg");
-fx-background-repeat: no-repeat ;
-fx-background-size: 100% 100% ;
-fx-background-position:center center;
}




/* ajouter achats fournisseur ...*/

.AjouterButton{
-fx-background-color:primary;
-fx-text-fill:#ffffff;
-fx-background-radius:10;
-fx-font-size:16;
 -fx-font-weight: Bold;
 -fx-font-family: FontFamily;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}


/* ventes stock ... buttons*/

.SideBarButton{
-fx-background-color:"transparent";
-fx-background-radius:10;
-fx-font-size:17;
   -fx-font-weight: Bold;
   -fx-font-family: FontFamily;
}

/*caisse cal buttons*/

.CaisseCalButtons{
-fx-background-color :derive(primary, 80%);
-fx-border-color:black;
-fx-border-radius:100;
-fx-background-radius:100;
-fx-font-size:18;
-fx-font-family: FontFamily;
}



/*all buttons when focused*/
.button:focused{
-fx-border-radius:10;
-fx-border-color:gray;
-fx-border-width:2;
-fx-font-family: FontFamily;
}


#right_side_image{
-fx-background-repeat: no-repeat ;
-fx-background-size: 100% 110%;
}





/* wr logo side bar*/
#logo
{
-fx-background-image: url("logo.png");
-fx-background-repeat: no-repeat ;
-fx-background-size: 100%   ;
-fx-background-position:center center;
}




/* cards icons */
#icon,#icon1,#icon2,#icon3,#icon4,#icon5,#icon6,#icon7{
-fx-background-size: 50% 50%;
-fx-background-repeat: no-repeat ;
-fx-background-position:center center;
-fx-background-color:primary;
-fx-background-radius:8000;
}
#icon{
-fx-background-image: url("icon2.png");
}
#icon1{
-fx-background-image: url("icon4.png");
}
#icon2{
-fx-background-image: url("icon3.png");
}
#icon3{
-fx-background-image: url("icon4.png");
-fx-background-size: 60% 60%;
}
#icon4{
-fx-background-image: url("icon4.png");
}
#icon5{
-fx-background-image: url("icon3.png");
}
#icon6{
-fx-background-image: url("icon4.png");
-fx-background-size: 60% 60%;
}
#icon7{
-fx-background-image: url("icon4.png");
-fx-background-size: 60% 60%;
}
/* end cards icons */

.notif-icon{
-fx-fill:primary;
}








.Dialog{
-fx-background-color:third;
-fx-background-radius:20;
-fx-border-radius:20;
-fx-border-color:"black";
}
#TotaleTF{
-fx-background-color:primary;
-fx-background-radius:10;
}




/*mfx checkbox*/
.mfx-checkbox{
-fx-border-color:"transparent"
-fx-background-radius:20;

}
.mfx-checkbox .ripple-container{
                               -fx-background-color:primary;
                               -fx-border-color:primary;
}
.mfx-checkbox .ripple-container .mfx-ripple-generator{
-mfx-animation-speed: 1.5;
-mfx-ripple-color: derive(primary, 110%);
-mfx-ripple-radius: 16;
}
.mfx-checkbox .ripple-container .box .mark{
-fx-background-color:primary;
}
.mfx-checkbox .ripple-container .box{
-fx-background-color:secondary;
-fx-border-color:primary;
}

.mfx-checkbox .box .mark {
	visibility: hidden;
	-mfx-color: primary;
	-mfx-description: "mfx-variant7-mark";
	-mfx-size: 12;
}
/*end mfx checkbox*/






/*table view */
.table-view .scroll-bar0 {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
    -fx-background-color:"transparent";
    -fx-border-color:"transparent";
}
.table-view {
        -fx-background-color:"white";
        -fx-background-radius:20;
        -fx-border-color:primary;
        -fx-border-radius:20;

        -fx-table-cell-border-color:transparent;
        -fx-table-column-border-color:transparent;
        -fx-text-alignment:center;
        -fx-selection-bar-non-focused:"transparent";

}
.table-row-cell: even{

    -fx-background-color: "white";
}

.table-row-cell: odd{
    -fx-background-color: "white";
}
.table-row-cell: even .text{
  -fx-font-family: FontFamily;
    -fx-background-color: "white";
}

.table-row-cell: odd .text{
    -fx-background-color: "white";
    -fx-font-family: FontFamily;
}

.table-row-cell: hover {
-fx-alignment:center;
    -fx-background-color: secondary;
    -fx-text-alignment:center;
}

.table-row-cell:selected .text {
       -fx-fill: "black" ;
  -fx-font-family: FontFamily;
}}
.table-view .table-cell {
    -fx-alignment: center;
    -fx-font-size:14;

    }
    /* hovered icon table view */
.table-row-cell: hover .glyph-icon {
                       	-fx-fill:"black";
}

.table-view .column-header-background .filler {
    -fx-background-color: "transparent";
    -fx-border-color:"transparent";
}
.table-view .column-header-background .filler:focused {
    -fx-background-color: "transparent";
    -fx-border-color:"transparent";
}

.table-view .column-header-background{
    -fx-background-color: primary;
    -fx-background-radius:  20 20 0 0  ;
    -fx-pref-height:40;
    -fx-border-color:"transparent";

}
.table-view .column-header {
    -fx-background-color: "transparent";
    -fx-fill :"white";
    -fx-border-color:"transparent";
}
.table-view .column-header .label {
        -fx-font-family: FontFamily;
        -fx-text-fill:"white";
        -fx-font-size:16;
        -fx-alignment:center;
        -fx-font-weight: bold;
}
.table-view .corner {
    -fx-background-color: "transparent";
}



.table-row-cell:filled:selected {
  -fx-background: derive(gray,80%) ;
  -fx-background-color: derive(gray,80%);
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: gray;
}
.table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}
.table-view .table-cell{
   -fx-font-weight: regular;
   -fx-font-family: FontFamily;
}

.table-view .table-cell .text{
-fx-font-size:14;
   -fx-font-weight: Bold;
   -fx-font-family: FontFamily;
}


/* end table view */









/* scroll bar */
.scroll-bar,
.scroll-bar .decrement-arrow,
.scroll-bar .increment-arrow {
	-fx-pref-width: 0;
	-fx-pref-height: 0;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-padding: 0.0 0.0 10.0 0.0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0.0em;
	-fx-padding: 0.0 10.0 0.0 0.0;

}

/* mfx ScrollBars */

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0.15em 0.0;
}

.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0.0 0.06em;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
	-fx-shape: " ";
	-fx-padding: 0.0 0.06em;
}

/* Customize ScrollBars */

.scroll-bar:horizontal .track {
	-fx-background-color: -track-color;
	-fx-border-color: transparent;
	-fx-background-radius: 2.1em;
	-fx-border-radius: 2.1em;
	-fx-background-insets: 3.1;
}

.scroll-bar:vertical .track {
	-fx-background-color: -track-color;
	-fx-border-color: transparent;
	-fx-background-radius: 2.1em;
	-fx-border-radius: 2.1em;
	-fx-background-insets: 3.1;
}

.scroll-bar .decrement-arrow,
.scroll-bar .increment-arrow {
	-fx-pref-width: 0;
	-fx-pref-height: 0;
}

.scroll-bar:vertical {
	-fx-background-color: transparent;
	-fx-pref-width: 12;
	-fx-pref-height: 12;
	-fx-padding: 5 0.6 5 0.6;
}

.scroll-bar:horizontal {
	-fx-background-color: transparent;
	-fx-pref-width: 12;
	-fx-pref-height: 12;
	-fx-padding: 0.5 5 0.5 5;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color: -thumb-color;
	-fx-background-insets: 2.0, 0.0, 0.0;
	-fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
	-fx-background-color: -thumb-hover-color;
	-fx-background-insets: 1.5, 0.0, 0.0;
	-fx-background-radius: 2.0em;
}

/* end scroll bar*/




/* toggle button params */
.mfx-toggle-button:disabled .circle,
.mfx-toggle-button:disabled:selected .circle {
	-fx-fill: annuler-red;
}
.mfx-toggle-button:selected .circle {
	-fx-fill: primary;
}
.mfx-toggle-button .circle {
	-fx-stroke: transparent;
	-fx-fill: annuler-red;
}
.mfx-toggle-button:selected .line {
	-fx-stroke: gray;
}
.mfx-toggle-button:selected .mfx-ripple-generator {
	-mfx-ripple-color: secondary;
}
.mfx-toggle-button .mfx-ripple-generator {
	-mfx-animation-speed: 1.5;
	-mfx-ripple-radius: 10;
	-mfx-ripple-color: secondary;
	-mfx-ripple-opacity: 0.4;
}





/*notification*/
.notification-bar > .pane {
    -fx-background-color: white;
    -fx-padding: 10;
    -fx-fill:transparent;
    -fx-border-color:gray;
    -fx-border-width:1;
    -fx-background-insets: 0, 1, 2;
}

.notification-pane .notification-bar > .pane {
    -fx-background-radius:15;
    -fx-border-radius:15;
    -fx-padding: 10;
}
.notification-bar > .pane .title {
-fx-font-family: FontFamily;
    -fx-font-size: 1.33em; /*15px;*/
    -fx-text-fill: white;
    -fx-wrap-text : true;
    -fx-alignment:center;
    -fx-font-weight: bold;
    -fx-margin: 10;
}

.notification-bar > .pane .text {
    -fx-font-family: FontFamily;
    -fx-font-size: 1.33em; /*15px;*/
    -fx-text-fill: white;
    -fx-wrap-text : true;
    -fx-alignment:center;
}

/* end notification*/




/* area chart */
.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent    ;
}
.chart-vertical-grid-lines {
    -fx-stroke: transparent    ;
}
.default-color0.chart-area-symbol { -fx-background-color: primary, secondary; }
.default-color0.chart-series-line { -fx-stroke: primary ;}
.default-color0.chart-series-area-line { -fx-stroke: primary; }
.default-color0.chart-series-area-fill { -fx-fill: secondary ;}



.CaisseCards{
-fx-background-color:"white";
-fx-background-radius:10;
}
.CaisseCards .text{
-fx-font-family: FontFamily;
}










/* from dialog css*/



/**/
